<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-account></app-new-account>
      <hr>
      <app-account [account]="item" *ngFor="let item of accounts"></app-account>
    </div>
  </div>
</div> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="">Home</a></li>
      <li><a routerLink="accounts">account Component</a></li>
      <li><a routerLink="newAccount">new Account component</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>